<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OverviewApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <OverviewApp.Properties.Settings>
      <setting name="sqlServerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="sqlServerUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="sqlServerUseWindowsAuthentication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="databaseType" serializeAs="String">
        <value>MS SQL</value>
      </setting>
      <setting name="dataDatabaseName" serializeAs="String">
        <value>data</value>
      </setting>
      <setting name="allPurposeDatabaseName" serializeAs="String">
        <value>server</value>
      </setting>
      <setting name="logDirectory" serializeAs="String">
        <value>C:\Logs\</value>
      </setting>
      <setting name="sqlServerHost" serializeAs="String">
        <value>(localdb)\MSSQLLocalDB</value>
      </setting>
      <setting name="maxTradeHistoryToLoad" serializeAs="String">
        <value>1000</value>
      </setting>
    </OverviewApp.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="data" connectionString="" providerName="System.Data.SqlClient" />
    <add name="server" connectionString="" providerName="System.Data.SqlClient" />
 </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
